h2{
    font-size: 48px;
    display: flex;
    justify-content: center;

}

.main-content h2{
    font-size: 36px;
    color: rgb(223, 206, 56);
}

.main-content p{
    font-size: 25px;    
}
.table{
    font-size: 32px;
    display: flex;
    justify-content: center;
}            